<header>

  <a class="logo" href="/">
    <img src="images/logo.png" alt="logo">
    SIAT
  </a>

  <ul>

    <li>
      Puesto de mando
      <span>
        <ul>
          <li>Consumo de electricidad</li>
          <li>Servicios Prestados</li>
          <li>Consolidado Anexo 4</li>
        </ul>
      </span>
    </li>

    <li>
      Comercial
      <span>
        <ul>
          <li>Servicios Efectuados</li>
        </ul>
      </span>
    </li>

    <li>
      Operaciones
      <span>
        <ul>
          <li>Aprovechamiento del parque</li>
        </ul>
      </span>
    </li>

    <li>
      Técnica
      <span>
        <ul>
          <li>Resumen del CT-5</li>
        </ul>
      </span>
    </li>

    <li>
      Recursos Humanos
      <span>
        <ul>
          <li>Control de Taxistas</li>
        </ul>
      </span>
    </li>

    <li>
      Economía
      <span>
        <ul>
          <li>Resumen de facturación</li>
        </ul>
      </span>
    </li>

    <li>
      Otros informes
      <span>
        <ul>
          <li routerLink="/workers">Registro de trabajadores</li>
          <li>Ficha de Cliente</li>
        </ul>
      </span>
    </li>

  </ul>

  <button>Cerrar sesión</button>

</header>