<footer>

  <div>
    
    <span>
      <h1>Empresa de Taxis</h1>
      <h3>Somos una empresa de taxis que ofrece servicios de transporte de calidad y confiabilidad a nuestros clientes.</h3>
    </span>

    <span>
      <h1>Contáctenos</h1>
      <h3>Dirección: Humbolt y Hospital</h3>
      <h3>Teléfono: +53 78455028</h3>
      <h3>Correo electrónico: pmando&#64;taxiscuba.com</h3>
    </span>

    <span>
      <h1>Sitios de interés</h1>
      <ul>
        <li class="list-inline-item">
          <a href="https://www.mitrans.gob.cu/es" target="_blank">MiTrans</a>
        </li>
        <li class="list-inline-item">
          <a href="http://www.cubadebate.cu/" target="_blank">Cubadebate</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.trabajadores.cu/" target="_blank"
            >Trabajadores</a
          >
        </li>
      </ul>
    </span>

  </div>

  <p>
    &copy; Empresa de Taxis. Todos los derechos reservados.
  </p>

</footer>